// Define variables for your color scheme

$dark-green: #083B24;
$dark-green-gradient: linear-gradient(180deg, #083B24 0%, rgba(8, 59, 36, 0.77) 100%);
$light-green: #A1C076;
$dark-blue: #1F304C;
$footsteps-yellow: #F4B62D;
$footsteps-yellow-gradient: linear-gradient(180deg, #F4B62D 0%, rgba(244, 182, 45, 0.8) 100%);
$white: white;

// Other colors

$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
