// Define variables for your color scheme

$dark-green: #083B24;
$light-green: #A1C076;
$dark-blue: #1F304C;
$yellow: #F4B62D;
$white: white;

// Other colors

$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
