.splash {
  background-image: image-url("homephoto.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

// .logo{
//   position: absolute;
//   // width: 219px;
//   // height: 112.16px;
//   height: 50px;
//   left: 87px;
//   top: 154px;
//   color: #F4B62D;
//   display: flex;
//   text-align: center;
// }

.logo {
  display: block;
  margin-top: 120px;
  margin-left: 0px;
  margin-bottom: 0;
  text-align: center;
  color: #F4B62D;
  padding-bottom: 0;
}

.logo h2 {
  color: white;
  font-size: 18px;
  text-shadow: 1px 1px 5px black;

}

.logo h1{
  font-size: 40px;
  line-height: 89px;
  text-shadow: 2px 2px 10px black;
  font-family: $logo-title;
  margin-bottom: 0;
}

// .logo-icon i {
//   font-size: 40px;
//   transform: rotate(-20deg);
// }

.searchbar {
  align-items: center;
  position: absolute;
  width: 302px;
  height: 37px;
  left: 44px;
  top: 361px;
  text-align: center;
  color:black;
}

.searchbar-button {
  align-items:center;
  background-color: #F4B62D;
  padding:15px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius:10px;
  font-weight: 700;
  box-shadow: 1px 1px 1px black;
  transition:none;
}

.down-arrow-home {
  i {
    color: white;
    font-size: 36px;
  }
}

.carousel-inner h3 {
  color: white;
  font-size: 18;
  text-shadow: 1px 1px 1px black;
}

.carousel-control-prev {
  width: 10%
}

.carousel-control-next {
  width: 10%
}
