.profile-container-flex {
    padding: 24px;
    // background: linear-gradient(180deg, #083B24 0%, rgba(8, 59, 36, 0.77) 100%);
    min-height: 100vh;
    border-right: none;
    h1 {
      color: $footsteps-yellow;
      filter:  drop-shadow(4px 4px 4px $gray)
    }
  }

  .user-bio-flex {
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  img {
    object-fit: cover;
    width: 7.25rem;
  }

  .user-details {
    padding: 6px;
  }


  .user-email {
    text-decoration: none;
  }

  .user-hikes-cards {
    background: white;
    border-radius: 5px;
    padding: 7px;

    h2 {
      text-align: start;
    }
  }

    .profile-hike-card {
      display: flex;
      width: 150px;
      height: 150px;
      border-radius: 5px;
      position: relative;
      background-size: cover;
      background-position: cover;
    }

    .profile-hike-card p {
      color: white;
      background-color: #083B24;
      opacity: 0.8;
      margin: 0;
      padding: 4px;
      position: absolute;
      bottom: 0;
      border-radius: 5px;
      font-size: 18px;
    }

 .logoutlink-profile {
    text-decoration: none;
    color: $dark-green !important;
    font-weight: bold;
      display:flex;
      justify-content: center;
    }
