.page-container-flex {
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  background: $dark-blue-gradient

  h1 {
    padding-bottom: 8px;
    padding-top: 8px;
  }

  h2 {
    margin-bottom: 16px;
  }

  hr {
    border-top: 1px solid;
    color: grayscale($color: #282626);
    width: 100px;
  }
}

.hike-img-title {
  border-radius: 5px;
  border: solid;
  overflow: hidden;
  background-color: white;
  width: 360px;
}

.hike-page-info-img {
  width: 360px;
  height: 168px;
  background-size: cover;
  background-position: center;
}

.hike-title-avatars-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  padding: 16px 8px 16px 8px;
}

.hike-title-avatars-flex p {
  margin-bottom: 0;
  color: black;
}

.back-edit-delete-flex {
  display: flex;
  justify-content: space-between;
}

.back-edit-delete-flex .back-icon-show {
  padding: 0 16px;
  background-color: white;
  border-radius: 5px;
}

.back-icon-show i {
  color: $dark-green;
}

.edit-delete-icons {
  padding: 0 16px;
  background-color: white;
  border-radius: 5px;
  width: 20%;

  a {
    text-decoration: none;
  }

  .fa-edit {
    text-decoration: none;
    color: $dark-green;
  }

  .fa-trash-can {
    text-decoration: none;
    color: $dark-green;
  }
}

.hike-page-info-card {
  border: solid;
  width: 360px;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  padding: 8px;
  // padding-bottom: 24px;
  // padding: 8px 8px 24px;
  // margin-top: 8px;
  // margin-bottom: 8px;
}

.hike-route-container {
  // padding: 8px;
}

.hike-icons-map {
  position: relative;
  background-color: white;
  border-radius: 5px;
  padding: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.map-icons-flex {
  position: absolute;
  width: 98%;
  top: 0;
  display: flex;
  justify-content: space-between;

  a {
    font-weight: 100;
  }

  a:hover {
    color: $footsteps-yellow
  }
}

.hike-page-details-flex {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  // padding-bottom: 8px;
  // padding-left: 8px;
  // padding-right: 8px;
}

.hike-page-details-1 {
  flex: 1;
}

.hike-page-details-2 {
  flex: 1;
}

.hike-page-description {
  padding-bottom: 8px;
}

.request-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pending-button {
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pending-request-button {
  background-color: #E3C47E;
}

.confirm-hike-button-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  // .hike-confirm-button {
  //   align-self: center;
  // }
}

.hike-chat-button-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hike-page-hikers {
  border: solid;
  width: 360px;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  padding: 16px;
  // padding-left: 16px;
  // padding-top: 16px;

  hr {
    margin-top: 40px;
  }
}

.hikers-joined-details-flex {
  display: flex;
  background: $dark-green-gradient;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 16px;
  align-items: center;

  p {
    color: white;
    margin-bottom: 0px;
    margin-left: 16px;
  }

  &:hover {
    box-shadow: rgba(8, 44, 105, 0.236) 0px 30px 60px -12px inset,rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}

.green-pin {
  width: 19px;
  position: relative;
  top: -13px;
}

.fa-calendar{
  box-shadow: 1px 1px 1px lightgray;
}

.minimize-box {
  position: absolute;
  margin: 8px;
  top: 0;
  padding: 8px;
  // background-color: #a1c0763d;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.minimize-box i {
  text-decoration: none;
  color: #083B24 ;
}

.map-icons-box {
  margin: 8px;
  font-size: 14px;
  padding: 4px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.map-icons-box i {
  text-decoration: none;
  color: #083B24 ;
}

.map-icons-box a {
  text-decoration: none;
  color: #083B24 ;
  // font-weight: 800;
}

#set-route.map-icons-box {
  background-color: white;
}

#maximise.map-icons-box {
  background-color: none;
}
