.page-container-flex {
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  background: linear-gradient(180deg, #083B24 0%, rgba(8, 59, 36, 0.77) 100%);
}

.hike-page-title-bar-flex {
  display: flex;
  justify-content: space-between;
}

.hike-page-info-card {
  border: solid;
  width: 360px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}

.hike-page-info-img {
  width: 360px;
  height: 248px;
  background-size: cover;
  background-position: center;
}

.hike-page-info-text {

}

.hike-page-details-flex {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.hike-page-details-1 {
  flex: 1;
}

.hike-page-details-2 {
  flex: 1;
}

.hike-page-description {
  padding: 16px;

}
