<div id="map" data-controller="hike-map" data-hike-map-marker-coordinates-value="<%= @marker_coordinates.to_json %>" data-hike-map-start-coordinates-value="<%= @start_coordinates.to_json %>" style="height: 755px;" data-hike-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
