<div class="profile-container-flex">
  <h1>My profile</h1>
  
  <br>
  
  <div class="user-bio-flex">
    <div class="photo">
    </div>
    <div class ="user-details">
      <div class="user-photo">
      </div>
      <div class="user-details">
        <p>My email: <%= @user.email%></p>
        <% @users.each do |user| %>
        <% end %>
          <br>
        <% @users.each do |user| %>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="user-hikes-cards">
      <h2> Completed Hikes </h2>
      <br>
    <div class="user-profile-hike-card"></div>
    <div class="user-profile-hike-card"></div>
    
  </div>

</div>


