<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fa-solid fa-shoe-prints"></i>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-user"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "logoutlink-navbar" unless user_signed_in? %>
          <%= link_to "Logout", destroy_user_session_path, class: "logoutlink-navbar", data: { turbo_method: :delete} if user_signed_in? %>
          </li>
      </ul>
    </div>
  </div>
</div>
