<div style="width: 100%; height: 500px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


<h3>Find local hikes below</h3>
<% @hikes.each do |hike| %>
  <%# <div class="embed_local_hike"> %>
    <%= render 'shared/hike_card_index', hike: hike %>
  <%# </div> %>
<% end %>