<div style="width: 100%; height: 900px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<%# <h3>Find local hikes below</h3> %>
<% @hikes.each do |hike| %>
<% unless hike.complete_hike! %>
  <%# <div class="embed_local_hike"> %>
  <% end %>
  <%# </div> %>
<% end %>