<% content_for :meta_title, "Add a New Hike" %>

<div class="login-form-container">
    <div class="form-title">
      <h2>Add a new hike</h2>
    </div>
    <div class="form-content-plus">
      <%= render 'hikes/form'%>
      <p>* Required field</p>
    </div>
</div>
