
<%
=begin%>
<div class="page-container">

  <div class="hike-page-title-bar-flex">
  <h1><%= @hike.hike_name%></h1>
  <!--avatars-->
  </div>

  <div class="hike-info-card">
    <!--img-->
    <div class="hike-info-text">
      <div class="hike-details-flex">
      </div>
      <div class="hike-description">
    </div>
  </div>
</div>
<%
=end%>




<%= render 'shared/hike_card_index', hike: @hike %>
