<%= render 'shared/navbar' %>
<body class="splash">
  <div class="logo">
    <div class="logo-title">
      <h1>Footsteps</h1>
    </div>
    <div class="logo-icon">
        <i class="fa-solid fa-shoe-prints"></i>
    </div>
  </div>
  <div class="searchbar">
    <%= simple_form_for do |f| %>
        <%= render 'shared/search' %>
    <% end %>
  </div>
</body>
<% if user_signed_in? %>
  <footer>
<% else %>
  <footer hidden>
<% end %>
