.footer-container {
  position:fixed;
  bottom:0;
  width:100%;
  height:60px;
}

.footer-icons-flexbox {
  display: flex;
  justify-content: space-between;
  background-color: #083B24;
  color: #A1C076;
  height: 60px;
  align-items: center;
  // padding: 0 20px;
  position: relative;
}

.left-icons {
  display: flex;
  justify-content: space-evenly;
  width: 43%;
}

.right-icons {
  display: flex;
  justify-content: space-evenly;
  width: 43%
}

.footer-add-button {
  position: absolute;
  bottom: 25px;
  left: 43%;
}

.footer-icon {
  font-size: 36px;
  // margin: 0 20px;
  text-decoration: none;
}

.footer-icon .footer-main-icon {
  text-decoration: none;
  color: #A1C076;
}

.footer-plus-icon {
  text-align: center;
  font-size: 56px;
  color: #F4B62D;
}

.fa-shoe-prints{
  font-size: 36px;
  margin-top:12px;
}
