.hike-card-index {
  width: 275px;
  height: 197px;
  background-color: $dark-blue;
  border-radius: 7px;
  overflow: hidden;
  
  .hike-card-img {
    width: 275px;
    height: 99px;
    background-size: cover;
    background-position: center;
  }

  .hike-card-bottom-section-flex {
    height: 99px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    .hike-card-info {

      .hike-card-name {
        margin-top: 4px;
        margin-left: 8px;
        margin-bottom: 4px;
        color: $white;

      }

      .hike-card-text {
        margin-left: 8px;
        margin-bottom: 4px;
        color: $white;

      }
    }

    .hike-card-btn {
      margin: 16px;
      display: flex;
      align-items: center;
    }

  }

}
