.hike-card-index {
  width: 250px;
  height: 177px;
  border-radius: 7px;
  overflow: hidden;
  
  .hike-card-img {
    width: 250px;
    height: 99px;
    background-size: cover;
    background-position: center;
  }
  
  .hike-card-bottom-section-flex {
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #104f85;
    opacity: 0.85;
  
    

    .hike-card-info {

      .hike-card-name {
        margin-top: 6px;
        margin-left: 6px;
        color: $white;
        font-size: 18px;
        text-align: start;
      
      }
      
      .hike-card-text {
        margin-bottom: 4px;
        margin-left: 6px;
        color: $white;
        text-align: start;
        padding-bottom: 2px;
      
      }
    }
    
    .hike-card-btn {
      display: flex;
      align-items: center;
    }

  }

}
