body.login{
  background: $dark-green-gradient;
  background-repeat:none;
  background-size:cover;
}

.login-form-container{
  align-items: center;
  max-width: 500px;
	padding: 10px 20px;
  background: $dark-green-gradient;
  color: #F4B62D;
}
.login-form-container h2 {
  font-weight: 800;
}

.login-form-button input.btn{
  color: #083B24;
  background-color: #F4B62D;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  &:hover {
    box-shadow: rgba(246, 217, 3, 0.25) 0px 30px 60px -12px inset,rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}

.login-push {
  height: 800px;
}
