.map-card-index {
  width: 250px;
  height: 181px;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: -20, 20, black;
}

.map-card-img {
  width: 250px;
  height: 99px;
  background-size: cover;
  background-position: center;
}

.map-card-bottom-section-flex {
  height: 94px;
  display: flex;
  background: $dark-green-gradient;
  text-align: start;
  margin-bottom: 3px;
  justify-content: space-between;

}

.map-card-name {
  color: $light-green;
  font-size: 18px;
  padding-top: 3px;
  padding-left: 8px;
  padding-right: 3px;
  margin-bottom: 0px;
}

.map-card-text {
  color: $light-green;
  padding-left: 8px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.map-card-btn {
  background-color: $footsteps-yellow;
  border-radius: 5px;
  padding: 4px 4px;
  align-self: center;
  text-align: center;
  margin-bottom: 4px;
  margin-right: 4px;
  width: 100px;
  
  &:hover {
    box-shadow: rgba(246, 217, 3, 0.25) 0px 30px 60px -12px inset,rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }

  a {
    text-decoration: none;
    color: $dark-green;
    font-weight: bold;
  }
}
