.avatar-content-flex {
  display: flex;
  justify-content: space-between;
}

.hike-request-content p {
  margin-bottom: 0px;
  padding-top: 8px;
}

.pending-profile-button{
  background-color: $footsteps-yellow;
  border:none;
  box-shadow: 1px 1px 3px black;
}

.pending-profile-button button{
  display: flex;
  justify-content: end;
  padding-right: 10px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
