.my-created-hikes-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.my-hikes-container {
  background: linear-gradient(#083B24, rgba(8, 59, 36, 0.84));
  height: 100vh;
}

.created-hikes-container {
  background-color: white;
  border-radius: 5px;
  margin: 8px;
  padding: 8px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .my-created-hikes-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .my-created-hikes-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .my-created-hikes-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .my-created-hikes-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .my-created-hikes-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
