.avatar-content-flex {
  display: flex
}

.requests-page-title-container{
  background-color: white;
  border-radius: 5px;
  padding: 8px;
  margin:8px;
  margin-top:-8px;
}

.requests-page-title-container h2{
  padding-left: 10px;
  padding-top:5px;
}
