.navbar-lewagon {
  justify-content: space-between;
  background: #083B24;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand i {
  width: 40px;
  color: #A1C076;
  padding-left: 10px;
}

.navbar-toggler {
  color:#A1C076;
}

.nav-link{
  color: white;
}

.logoutlink-navbar{
  color: $footsteps-yellow;
  display:flex;
  justify-content: end;
}
