body.signup{
  background: $dark-green-gradient;
  background-repeat:none;
  background-size:cover;
}

.signup-form-container{
  align-items: center;
  max-width: 500px;
	padding: 10px 20px;
  background: $dark-green-gradient;
  color: #F4B62D;
}
.signup-form-container h2 {
  font-weight: 800;
}

.signup-form-button input.btn{
  color: #F4B62D;
  box-shadow: 1px 1px 1px black;
}
