
.small-hike-card {
  width: 160px;
  height: 160px;
  border-radius: 5px;
  position: relative;
  background-size: cover;
  background-position: cover;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.small-hike-card img {
  border-radius: 5px;
}

.small-hike-card-name {
  color: white;
  background: $dark-green-gradient;
  opacity: 0.7;
  margin-bottom:0px;
  padding: 4px;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  width:100%;
}

.your-hike {
  position: absolute;
  top: 0;
  background-color: white;
  border-radius: 5px 0px 5px 0px;
  padding: 4px;
  color: $dark-green;
  opacity:0.7;
  padding:4px;
}
